<!DOCTYPE html>
<html>
<head>
  <title>Projeto Express e EJS</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
  <h1><%= message %></h1>
  <div class="card-group">
    <div class="card">
      <img src="livro.jpg" class="card" alt="...">
      <div class="card-body">
        <h5 class="card-title">Texto Para Tocar Cicatrizes</h5>
      </div>
    </div>
    <div class="card">
      <img src="livro2.jpg" class="card" alt="...">
      <div class="card-body">
        <h5 class="card-title">Eu Tenho Sério Poemas Mentais</h5>
      </div>
    </div>
    <div class="card">
      <img src="livro1.jpg" class="card" alt="...">
      <div class="card-body">
        <h5 class="card-title">Se Você Me Entende Por Favor Me Explica</h5>
      </div>
    </div>
  </div>
</body>
</html>