<!DOCTYPE html>
<html>
<head>
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
    <h1><%= message %></h1>

    <div class="card-group">
        <div class="card">
          <img src="livro.jpg" class="card" alt="...">
          <div class="card-body">
            <h5 class="card-title">Texto Para Tocar Cicatrizes</h5>
            <p class="card-text">Livro de poesia escrito por Igor Pires </p>
            <p class="card-text"><small class="text-body-secondary">R$45,70</small></p>
          </div>
        </div>
        <div class="card">
          <img src="livro2.jpg" class="card" alt="...">
          <div class="card-body">
            <h5 class="card-title">Eu Tenho Sério Poemas Mentais</h5>
            <p class="card-text">Livro de poesia escrito por Pedro Salomão</p>
            <p class="card-text"><small class="text-body-secondary">R$35,60</small></p>
          </div>
        </div>
        <div class="card">
          <img src="livro1.jpg" class="card" alt="...">
          <div class="card-body">
            <h5 class="card-title">Se Você Me Entende Por Favor Me Explica</h5>
            <p class="card-text">Livro de poesia escrito por Pedro Salomão</p>
            <p class="card-text"><small class="text-body-secondary">R$58,90</small></p>
          </div>
        </div>
      </div>

</body>
</html>